.mixin.out
config
crash-reports
defaultconfigs
libraries
logs
mods
node_modules
patchouli_books
serverbot

world
1.16.5.json
banned-ips.json
banned-players.json
eula.txt
forge-1.16.5-36.1.65.jar

minecraft_Server.1.16.5.jar
ops.json

run.bat
server.properties
usercache.json
usernamecache.json
whitelist.json
